@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap');

.invalid {
  border-color: red;
}

.invalidInput {
  color: red;
  font-size: 12px;
  letter-spacing: 1px;
  margin-left: 5px;
}

.invalidInputMonth {
  color: red;
  font-size: 12px;
  letter-spacing: 1px;
  display: block;
}

.invalidInputCVC {
  margin-left: 24px;
  color: red;
  font-size: 12px;
  letter-spacing: 1px;
  display: block;
}

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-family: 'Space Grotesk', sans-serif;
  -moz-appearance: textfield;
}

html {
  height: 100vh;
}

body {
  min-height: 100vh;
}

.app {
  display: flex;
  flex-direction: row;
  height: 100vh;
}

.form-container {
  display: flex;
  align-items: center;
}

.form>* {
  width: 365px;
}

.input-container {
  margin-bottom: 20px;
  width: 365px !important;
}

.input-container>label {
  margin-bottom: 5px;
  margin-left: 2px;
  font-size: 12px;
  letter-spacing: 1.5px;
  display: block;
  width: auto;
}


input {
  height: 40px;
  border-style: solid;
  padding: 0 0 0 10px;
  border-radius: 8px;
  margin-right: 5px;
  width: 365px;
}

button {
  cursor: pointer;
  margin-top: 15px;
  padding: 12px;
  background-color: hsl(278, 68%, 11%);
  color: white;
  border-style: none;
  border-radius: 8px;
}

.form {
  display: flex;
  flex-direction: column;
}

.lastformpart {
  display: flex;
}

.form-month,
.form-year {
  width: 80px !important;
  display: inline-block;
}

.form-year>input {
  margin-left: 4px;
}

.form-month>input,
.form-year>input {
  width: 80px;
}

.form-cvc {
  width: 175px;
  margin-left: 20px;
}

.label-cvc {
  margin-left: 20px !important;
}


.sidebar-container {
  position: relative;
  display: flex;
  height: 100vh;
  width: 50rem;
}

.desktop-sidebar-img {
  position: relative;
  height: 100vh;
  width: 25rem;
}

.front-card {
  position: relative;
  display: flex;
}

.front-card>img {
  position: absolute;
  top: 8rem;
  left: -16rem;
  width: 24rem;
}

.front-card>.card-logo {
  width: 6rem;
  padding: 1rem;
}

.frontcard-cardnumber {
  position: absolute;
  top: 16rem;
  left: -14rem;
  font-size: 23px;
  width: 20rem;
  color: white;
  letter-spacing: 3px;
}

.frontcard-fullname {
  position: absolute;
  top: 19rem;
  left: -14rem;
  font-size: 14px;
  width: 20rem;
  color: white;
  text-transform: uppercase;
}

.frontcard-expdate {
  position: absolute;
  top: 19rem;
  left: 3rem;
  font-size: 14px;
  width: 20rem;
  color: white;
}

.back-card {
  position: relative;
  display: flex;
}

.back-card>img {
  position: absolute;
  top: 23rem;
  left: -11rem;
  width: 24rem;
}

.back-card>span {
  position: absolute;
  top: 28.9rem;
  left: 8.5rem;
  font-size: 14px;
  width: 20rem;
  color: white;
  letter-spacing: 2px;
}

.cardconfirmed-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.cardconfirmed {
  position: relative;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  color: hsl(278, 68%, 11%);
}

.cardconfirmed>img {
  margin-bottom: 2rem;
  width: 8rem;
}

.cardconfirmed>button {
  margin-top: 2rem;
  width: 25rem;
}

.cardconfirmed>h1 {
  letter-spacing: 4px;
  font-size: 26px;
  font-weight: lighter;
  margin-bottom: 1rem;
}

.cardconfirmed>h4 {
  color: hsl(279, 6%, 55%);
  font-size: 15px;
  letter-spacing: 1px;
}

@media only screen and (max-width: 800px) {
  .app {
    flex-direction: column;
  }
*{
  max-height: 100vh;
  max-width: 100vw;
}
  body, html, .app{
    max-height: 100vh;
  }

  .form-container {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-left: 1rem;
  }

  .sidebar-container {
    margin-bottom: 1rem;
    height: 20rem;
    width: 100vh;
  }

  .mobile-sidebar-img {
    width: 100vh;
    height: 14rem;
  }

  .front-card {
    position: absolute;
    z-index: 1;
  }

  .front-card>img {
    left: 1rem;
    width: 17rem;
  }

  .frontcard-cardnumber {
    left: 1.8rem;
    top: 14rem;
    font-size: 17px;
    width: 20rem;
    color: white;
    letter-spacing: 3px;
  }

  .frontcard-fullname {
    left: 1.8rem;
    top: 15.8rem;
    font-size: 12px;
    width: 20rem;
    color: white;
    text-transform: uppercase;
  }

  .frontcard-expdate {
    top: 15.8rem;
    left: 14.6rem;
    font-size: 12px;
    width: 20rem;
    color: white;
  }
/*CONTINUE ROTO EN VERSION MOBILE*/
  .back-card {
    position: absolute;
  }

  .back-card>img {
    top: 2rem;
    left: 5rem;
    width: 17rem;
  }

  .back-card>span {
    position: absolute;
    top: 6.1rem;
    left: 18.5rem;
    font-size: 12px;
    width: 20rem;
    color: white;
    letter-spacing: 2px;
  }

  .cardconfirmed {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color: hsl(278, 68%, 11%);
    width: 80vh;
  }

}